<html>
    <body>
    <br>
    <form class="text-center" #register="ngForm" (ngSubmit)="onSubmit(register)">
        <div id="cuadro">
        <br>
        <h1>Agregar libro</h1><br>
        <input [(ngModel)]="libro.autor" name="autor" type="text" placeholder="Ingrese nombre del autor"><br>
        <input [(ngModel)]="libro.titulo" name="titulo" type="text" placeholder="Ingrese titulo"><br>
        <input [(ngModel)]="libro.descripcion" name="descripcion" type="text" placeholder="Ingrese descripcion"><br>
        <input [(ngModel)]="libro.copias" name="copias" type="text" placeholder="Ingrese copias"><br>
        <input [(ngModel)]="libro.disponibles" name="disponibles" type="text" placeholder="Ingrese disponibles"><br>
        <input [(ngModel)]="libro.temas" name="temas" type="text" placeholder="Ingrese temas"><br>
        <input [(ngModel)]="libro.palabrasClave" name="palabrasClave" type="text" placeholder="Ingrese palabrasClave"><br>
        <select [(ngModel)]="libro.tipo" name="tipo">
            <option *ngFor="let option of optionsRol" [value]="option">{{option}}</option>
        </select><br><br>
        <button type="submit" class="btn btn-primary">Agregar Libro</button>
        <br>
        <br>
        </div>
    </form>
    </body>
</html>