<body>
    <br>
<div id="cuadro" class="text-center">
    
<h1 id="titulo">Reportes</h1><br>

<button routerLink="/reporteLibrosBuscados" class="btn btn-primary">Reporte Libros Más Buscados</button><br><br>
<button routerLink="/reporteLibrosPrestados" class="btn btn-primary">Reporte Libros Más Prestados</button><br><br>
<button routerLink="/reporteRevistasBuscadas" class="btn btn-success">Reporte Revistas Más Buscadas </button><br><br>
<button routerLink="/reporteRevistasPrestadas" class="btn btn-success">Reporte Revistas Más Prestados</button><br><br>
<button routerLink="/reporteUsuariosPrestado" class="btn btn-warning">Usuarios que más han prestado</button>
<br>
<br>
</div>
</body>