body{
    background: linear-gradient(45deg, #ffcc5c 25%, #3c3c3c  25% 50%, #ff6f69 50% 75%, #96ceb4 75%);
    min-height: 100vh
}

table{
    margin: 0 auto;
    border: 1px  #FFF;
    width: 50%;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    color: #FFF;
}

tr, td{
    border: 1px solid white;
}

#tituloTabla{
    color: #fff ;
    font-weight: 900;
}

#titulo{
    text-align: center;
    color: #FFF;
}