<body>
<h1 id="titulo">Libros más prestados</h1>

<h1 id="titulo" *ngIf="libroPrestadoFind == 0">No se encontraron resultados</h1>

<table class="card-body">
  <tr>
    <td id="tituloTabla">Nombre</td>
    <td id="tituloTabla">Autor</td>
    <td id="tituloTabla">Descripcion</td>
    <td id="tituloTabla">Prestamos</td>
  </tr>
  <tr *ngFor="let libroPrestadoFind of libroPrestadoFind">
    <td>{{libroPrestadoFind.titulo}}</td>
    <td>{{libroPrestadoFind.autor}}</td>
    <td>{{libroPrestadoFind.descripcion}}</td>
    <td>{{libroPrestadoFind.reservas}}</td>
  </tr>
</table>

</body>